/* Css style sheet for Edit Form Dialog element. */

#editEntry--concepts {
    height: 18px;
    width: 335px;
}

#editEntry--date {
    margin-left: 49px;
}

#editEntry--dateLabel {
    margin-left: 108px;
}

#dialogBox--details {
    background-color: burlywood;
}

.editDialogContainer {
    display: inline-block;
    margin-top: 260px;
}

#editEntry--journal {
    width: 745px;
}

.button--edit {
    background-color: rgb(212, 166, 79);
    font-family: 'Eagle Lake', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 1em;
}

#editEntry--mood {
    height: 24px;
    margin-left: 48px;
}

#editEntry--moodLabel {
    margin-left: 250px;
}