@import './elements/editJournalEntryDialog.css';
@import './elements/journalEntryButton.css';
@import './elements/journalEntryForm.css';
@import './elements/journalEntryList.css';

body {
    background-color: burlywood;
}

.bold {
    font-weight: bolder;
}

.chaiseLoungeQuestion {
    color: white;
    font-family: 'Eagle Lake', cursive;
    left: 410px;
    position: relative;
    top: 110px;   
}

.container {
    background-image: url("https://www.tagesspiegel.de/images/1496907/24145614/2-format6001.jpg?inIsFirst=true");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 750px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.labels {
    font-family: 'Share Tech Mono', monospace;
}